{% load static %}
<nav>
    

        <div class="ul_div">
        <ul class="ul_nav">
            <li class="li_nav"><a class="a_nav" href="{% url 'consulta' %}">Consultas</a></li>
            <li class="li_nav"><a class="a_nav" href="{% url 'registro' %}">Registros</a></li>
            <li class="li_nav"><a class="a_nav" href="{% url 'miperfil' %}">Mi perfil</a></li>
        </ul>

        </div>
</nav>


<style>

body {
    overflow-x:hidden;

}
    nav {
    background-color: #c4dd71;
    margin: -2%;
    padding: 10px;
}

.contenedor_titulo {
    display: flex;
}

.imglogo {
    width: 20%;
    height: auto;
}

.ul_div {
    display: flex;
    justify-content:center;
    align-items: center;
}

.ul_nav {
    list-style-type: none;
    display: flex;
    justify-content: center; /* Esto distribuirá los elementos equitativamente */
    padding: 20px;
    margin: 0;
    width: 100%;
    
}

.ul_nav .li_nav {
    padding: 5px;
    color: #ffffff;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 500;
    margin: 0 7% 0 7%;
    border-bottom: solid 2px #F4FFD9;
    font-size: 20px;
}

.a_nav {
    color: #ffffff;
    text-decoration: none;
}

.a_nav:visited {
    color:inherit;
}

.consultas {

    
}

</style>

